<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<head> </head>

<body>
    <div layout:fragment="content">
    	<div class="wrapper" th:if="${currentUser.role == 1}">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i>Danh sách loại xét nghiệm</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/home}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Danh sách loại xét nghiệm</li>
                    </ol>
                </div>
            </div>
            
            <a th:href="@{/test-type/create}"><button style="margin-top: 20px; font-size: 16px;" class="btn btn-primary">Thêm mới</button></a>

            <div class="row" style="margin-top: 20px;">
                <table class="table">
                    
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên loại xét nghiệm</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item, state : ${lstTestType}">
                        <th scope="row" th:text="${state.index+1}"></th>
                        <td th:text="${item.typeName}"></td>
                        <td th:if="${item.status == 1}" style="width: 150px;"><p style="background-color: #007bff; font-weight: bold; text-align: center; color: #fff;">Có hiệu lực</p></td>
                        <td th:if="${item.status == 0}" style="width: 150px;"><p style="background-color: #dc3545; font-weight: bold; text-align: center; color: #fff;">Vô hiệu lực</p></td>
                        <td>
                        	<a style="font-size: 16px;" th:href="@{'/test-type/read/' + ${item.id}}" class="btn btn-success">Chi tiết</a>
                        	<a style="font-size: 16px;" th:href="@{'/test-type/update/' + ${item.id}}" class="btn btn-primary">Sửa</a>
                        	<a th:if="${item.status == 0}" th:href="@{'/change-status-test-type/active/' + ${item.id}}" style="font-size: 16px; color: #fff;" class="btn btn-primary" th:data-confirm="|Bạn muốn kích hoạt loại xét nghiệm này?|" onclick="if (!confirm(this.getAttribute('data-confirm'))) return false">Kích hoạt</a>
                        	<a th:if="${item.status == 1}" th:href="@{'/change-status-test-type/deactive/' + ${item.id}}" style="font-size: 16px; color: #fff;" class="btn btn-danger" th:data-confirm="|Bạn muốn vô hiệu hóa loại xét nghiệm này?|" onclick="if (!confirm(this.getAttribute('data-confirm'))) return false">Vô hiệu hóa</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <th:block th:if="${totalElements > 0}">
                    <nav aria-label="Page navigation" style="text-align: center; width: 100%;">
                    <ul class="pagination justify-content-end">
                            <li class="page-item" th:classappend="${pageIndex} <= 0 ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'/test-type-list?page='+ ${pageIndex-1}}"><</a>
                            </li>

                            <li  th:classappend="${pageIndex} != ${index-1} ? 'page-item' :'page-item active' "
                                th:each="index : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:href="@{'/test-type-list?page='+ ${index-1}}" th:text="${index}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${pageIndex} >= ${totalPages} - 1 ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'/test-type-list?page='+ ${pageIndex+1}}">></a>
                            </li>
                        </ul>
                    </nav>
                  </th:block>
            </div>
        </div>
        <div class="wrapper" th:unless="${currentUser.role == 1}">
			<h1 style="color: red;">Bạn không có quyền truy cập màn hình này</h1>
		</div>
    </div>
    
</body>

</html>

<script src="//cdn.jsdelivr.net/gh/rainabba/jquery-table2excel@1.1.0/dist/jquery.table2excel.min.js"></script>
<script>
    
</script>