<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<head> </head>

<body>
    <div layout:fragment="content">
    	<div class="wrapper" th:if="${currentUser.role == 1}">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i>Danh sách xét nghiệm</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/home}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Danh sách xét nghiệm</li>
                    </ol>
                </div>
            </div>
            
            <div class="row">
                <form class="form-group col-md-12" th:action="@{/test-list}" th:object="${findParams}" method="GET">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Tên xét nghiệm</label>        
                            <input type="text" th:field="*{testName}" id="testName"  name="testName" class="form-control" style="font-size: 16px; height: 34px;">
                        </div>
                        <div class="col-md-3">
	                        <label>Loại xét nghiệm<i style="color: red;">*</i></label>
	                        <select class="selectpicker form-control dropdown-toggle" th:field="*{testTypeId}" id="testTypeId"  name="testTypeId" data-live-search="true">
	                        	<option style="font-size: 16px;" value="" selected>-- Chọn loại xét nghiệm --</option>
	                            <option style="font-size: 16px;" th:each="item : ${lstTestType}" th:value="${item.id}" th:text="${item.typeName}"></option>
	                          </select>
	                    </div>
	                    <div class="col-md-3">
	                        <label>Trạng thái<i style="color: red;">*</i></label>
	                        <select class="selectpicker form-control dropdown-toggle" th:field="*{status}" id="status"  name="status" data-live-search="true">
	                        	<option style="font-size: 16px;" value="" selected>-- Chọn trạng thái --</option>
	                            <option style="font-size: 16px;" value=0>Vô hiệu lực</option>
	                            <option style="font-size: 16px;" value=1>Có hiệu lực</option>
	                          </select>
	                    </div>
                        <div class="col-md-2">
                            <br>
                            <button style="font-size: 16px;" type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <a th:href="@{/test/create}"><button style="margin-top: 20px; font-size: 16px;" class="btn btn-primary">Thêm mới</button></a>

            <div class="row" style="margin-top: 20px;">
                <table class="table">
                    
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên xét nghiệm</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Giá bán</th>
                        <th scope="col">Loại xét nghiệm</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item, state : ${lstTest}">
                        <th scope="row" th:text="${state.index+1}"></th>
                        <td th:text="${item.testName}"></td>
                        <td>
                        	<p th:if="${item.costPrice}" th:text="${#numbers.formatDecimal(item.costPrice, 0, 'COMMA', 0, 'POINT')} + 'Đ'"></p>
                        	<p th:unless="${item.costPrice}">0Đ</p>
                        </td>
                        <td>
                        	<p th:if="${item.sellPrice}" th:text="${#numbers.formatDecimal(item.sellPrice, 0, 'COMMA', 0, 'POINT')} + 'Đ'"></p>
                        	<p th:unless="${item.sellPrice}">0Đ</p>
                        </td>
                        <td th:text="${item.testType.typeName}"></td>
                        <td th:if="${item.status == 1}"><p style="background-color: #007bff; font-weight: bold; text-align: center; color: #fff;">Có hiệu lực</p></td>
                        <td th:if="${item.status == 0}"><p style="background-color: #dc3545; font-weight: bold; text-align: center; color: #fff;">Vô hiệu lực</p></td>
                        <td>
                        	<a style="font-size: 16px;" th:href="@{'/test/read/' + ${item.id}}" class="btn btn-success">Chi tiết</a>
                        	<a style="font-size: 16px;" th:href="@{'/test/update/' + ${item.id}}" class="btn btn-primary">Sửa</a>
                        	<!--<a th:href="@{'/test/delete/' + ${item.id}}" style="font-size: 16px; color: #fff;" class="btn btn-danger" th:data-confirm="|Bạn muốn xóa bản ghi này?|" onclick="if (!confirm(this.getAttribute('data-confirm'))) return false">Xóa</a>-->
                        	<a th:if="${item.status == 0}" th:href="@{'/test-update-status/active/' + ${item.id}}" style="font-size: 16px; color: #fff;" class="btn btn-primary" th:data-confirm="|Bạn muốn kích hoạt xét nghiệm này?|" onclick="if (!confirm(this.getAttribute('data-confirm'))) return false">Kích hoạt</a>
                        	<a th:if="${item.status == 1}" th:href="@{'/test-update-status/deactive/' + ${item.id}}" style="font-size: 16px; color: #fff;" class="btn btn-danger" th:data-confirm="|Bạn muốn vô hiệu hóa xét nghiệm này?|" onclick="if (!confirm(this.getAttribute('data-confirm'))) return false">Vô hiệu hóa</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <th:block th:if="${totalElements > 0}">
                    <nav aria-label="Page navigation" style="text-align: center; width: 100%;">
                    <ul class="pagination justify-content-end">
                            <li class="page-item" th:classappend="${pageIndex} <= 0 ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'/test-list?page='+ ${pageIndex-1} + ${queryParams}}"><</a>
                            </li>

                            <li  th:classappend="${pageIndex} != ${index-1} ? 'page-item' :'page-item active' "
                                th:each="index : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:href="@{'/test-list?page='+ ${index-1} + ${queryParams}}" th:text="${index}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${pageIndex} >= ${totalPages} - 1 ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'/test-list?page='+ ${pageIndex+1} + ${queryParams}}">></a>
                            </li>
                        </ul>
                    </nav>
                  </th:block>
            </div>
        </div>
        <div class="wrapper" th:unless="${currentUser.role == 1}">
			<h1 style="color: red;">Bạn không có quyền truy cập màn hình này</h1>
		</div>
    </div>
    
</body>

</html>

<script src="//cdn.jsdelivr.net/gh/rainabba/jquery-table2excel@1.1.0/dist/jquery.table2excel.min.js"></script>
<script>
    
</script>