<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<head> </head>

<body>
    <div layout:fragment="content">
    	<div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i>[[${title}]]</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/home}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Thu tiền khám</li>
                    </ol>
                </div>
            </div>
            
            <div class="row">
                <form class="form-group col-md-12" th:action="@{/get-medical-fee}" th:object="${findParams}" method="GET">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Bác sĩ</label>
                            <select class="selectpicker form-control" th:field="*{accountId}" id="accountId"  name="accountId" data-live-search="true">
                            	<option style="font-size: 16px;" value="" selected>-- Chọn bác sĩ --</option>
                                <option style="font-size: 16px;" th:each="item : ${lstDoctor}" th:value="${item.id}" th:text="${item.fullname}"></option>
                              </select>
                        </div>
                        <div class="col-md-3">
                            <label>Bệnh nhân</label>
                            <select class="selectpicker form-control" th:field="*{customerId}" id="customerId"  name="customerId" data-live-search="true">
                            	<option style="font-size: 16px;" value="" selected>-- Chọn bệnh nhân --</option>
                                <option style="font-size: 16px;" th:each="item : ${lstCustomer}" th:value="${item.id}" th:text="@{${item.fullname} + ' - ' + ${item.phone}}"></option>
                              </select>
                        </div>
                        <div class="col-md-2">
                            <br>
                            <button style="font-size: 16px;" type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" style="margin-top: 20px;">
                <table class="table">
                    
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Bệnh nhân</th>
                        <th scope="col">Bác sĩ khám</th>
                        <th scope="col">Ngày khám</th>
                        <th scope="col">Tổng tiền khám</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item, state : ${lstTestResult}">
                        <th scope="row" th:text="${state.index+1}"></th>
                        <td th:text="${item.clinicWorking.customer.fullname}"></td>
                        <td th:text="${item.clinicWorking.account.fullname}"></td>
                        <td th:text="${#dates.format(item.createdDate, 'dd-MM-yyyy')}"></td>
                        <td th:if="${item.examinationFee}" th:text="${#numbers.formatDecimal(item.examinationFee + 200000, 0, 'COMMA', 0, 'POINT')} + 'Đ'"></td>
                        <td th:unless="${item.examinationFee}" th:text="${#numbers.formatDecimal(200000, 0, 'COMMA', 0, 'POINT')} + 'Đ'"></td>
                        <td th:if="${item.status == 0}">Chưa thánh toán</td>
                        <td th:if="${item.status == 1}">Đã thanh toán</td>
                        <td>
                        	<a th:if="${item.status == 0}" th:href="@{'/get-medical-fee-detail/' + ${item.id}}"><button style="font-size: 16px;" class="btn btn-success">Chi tiết phiếu xét nghiệm</button></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <th:block th:if="${totalElements > 0}">
                    <nav aria-label="Page navigation" style="text-align: center; width: 100%;">
                    <ul class="pagination justify-content-end">
                            <li class="page-item" th:classappend="${pageIndex} <= 0 ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'/get-medical-fee?page='+ ${pageIndex-1} + ${queryParams}}"><</a>
                            </li>

                            <li  th:classappend="${pageIndex} != ${index-1} ? 'page-item' :'page-item active' "
                                th:each="index : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:href="@{'/get-medical-fee?page='+ ${index-1} + ${queryParams}}" th:text="${index}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${pageIndex} >= ${totalPages} - 1 ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'/get-medical-fee?page='+ ${pageIndex+1} + ${queryParams}}">></a>
                            </li>
                        </ul>
                    </nav>
                  </th:block>
            </div>
        </div>
    </div>
</body>

</html>