<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<head> </head>

<body>
    <div layout:fragment="content">
    	<div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i>[[${title}]]</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/home}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Thu tiền khám</li>
                        <li><i class="fa fa-laptop"></i>Chi tiết phiếu xét nghiệm</li>
                    </ol>
                </div>
            </div>

            <div class="">
            	<div class="row">
                    <div class="col-md-3 text-right">Họ tên</div>
                    <div class="col-md-3">[[${testResult.clinicWorking.customer.fullname}]]</div>
                    <div class="col-md-3 text-right">Ngày sinh</div>
                    <div class="col-md-3">[[${#dates.format(testResult.clinicWorking.customer.dob, 'dd-MM-yyyy')}]]</div>
                    <div class="col-md-3 text-right">Giới tính</div>
                    <div th:if="${testResult.clinicWorking.customer.gender == 1}" class="col-md-3">Nam</div>
                    <div th:if="${testResult.clinicWorking.customer.gender == 0}" class="col-md-3">Nữ</div>
                    <div th:if="${testResult.clinicWorking.customer.gender == -1}" class="col-md-3">Khác</div>
                    <div class="col-md-3 text-right">SĐT</div>
                    <div class="col-md-3">[[${testResult.clinicWorking.customer.phone}]]</div>
                    <div class="col-md-3 text-right">Địa chỉ</div>
                    <div class="col-md-9">[[${testResult.clinicWorking.customer.address}]]</div>
                    <div class="col-md-3 text-right">Ngày khám</div>
                    <div class="col-md-3">[[${#dates.format(testResult.createdDate, 'dd-MM-yyyy')}]]</div>
                    <div class="col-md-3 text-right">Bác sĩ khám</div>
                    <div class="col-md-3">[[${testResult.clinicWorking.account.fullname}]]</div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                    <div class="container export-test-area" style="background-color: #91fffa;">
                        <div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item"><b>Tên hàng hóa</b></div>
						    <div class="col-md-3 test-type-item"><b>Số lần</b></div>
						    <div class="col-md-3 test-type-item"><b>Đơn giá</b></div>
						    <div class="col-md-3 test-type-item"><b>Thành tiền</b></div>
						</div>
						<div th:if="${lstTestComplete}" class="row test-result-item text-center" th:each="item, state : ${lstTestComplete}">
						    <div class="col-md-3 test-type-item">Xét nghiệm [[${item.testName}]]</div>
						    <div class="col-md-3 test-type-item">1</div>
						    <div th:if="${item.costPrice}" class="col-md-3 test-type-item">[[${#numbers.formatDecimal(item.SellPrice, 0, 'COMMA', 0, 'POINT')} + 'Đ']]</div>
						    <div th:unless="${item.costPrice}" class="col-md-3 test-type-item">0Đ</div>
						    <div th:if="${item.SellPrice}" class="col-md-3 test-type-item">[[${#numbers.formatDecimal(item.SellPrice, 0, 'COMMA', 0, 'POINT')} + 'Đ']]</div>
						    <div th:unless="${item.SellPrice}" class="col-md-3 test-type-item">0Đ</div>
						</div>
						<div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item">Tiềm khám</div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item">200,000Đ</div>
						</div>
						<div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item"><b>Tổng tiền</b></div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item"></div>
						    <div th:if="${testResult.examinationFee}" class="col-md-3 test-type-item"><b style="font-size: 18px;">[[${#numbers.formatDecimal(testResult.examinationFee + 200000, 0, 'COMMA', 0, 'POINT')} + 'Đ']]</b></div>
						    <div th:unless="${testResult.examinationFee}" class="col-md-3 test-type-item"><b style="font-size: 18px;">[[${#numbers.formatDecimal(200000, 0, 'COMMA', 0, 'POINT')} + 'Đ']]</b></div>
						</div>
						
                    </div>
                    
                </div>
            </div>
            <div class="row text-center">
				<div class="col-md-12">
					<form action="#" th:action="@{'/post-medical-fee-detail/' + ${testResult.id}}" method="POST">
						<button style="font-size: 18px;" class="btn btn-primary" type="submit">Xác nhận thanh toán</button>
					</form>
				</div>
			</div>
        </div>
    </div>
</body>

</html>