<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{index.html}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
<!--main content start-->

    <section th:if="${currentUser.role == 1}" th:fragment="content" class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a th:href="@{/home}">Home</a></li>
                    <li><i class="fa fa-laptop"></i>Dashboard</li>
                </ol>
            </div>
        </div>

        <div class="row">
        <div class="col-md-6 text-center">
        	<h1>Số hóa đơn/Bệnh nhân mới tháng [[${currentMonth}]]</h1>
        	<canvas id="hoaDonBenhNhanChart" width="400" height="400"></canvas>	
        </div>
        <div class="col-md-6 text-center">
        	<h1>Doanh thu bác sĩ tháng [[${currentMonth}]]</h1>
        	<canvas id="doanhThuChart" width="400" height="400"></canvas>	
        </div>
        <div class="col-md-6 text-center">
        	<h1>Tiền lãi bác sĩ tháng [[${currentMonth}]]</h1>
        	<canvas id="tienLaiChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-6 text-center">
        	<h1>Doanh thu x Tiền lãi bác sĩ tháng [[${currentMonth}]]</h1>
        	<canvas id="doanhThuTienLaiChart" width="400" height="400"></canvas>
        </div>
        	 <script th:inline="javascript">
        	// var arr = ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'];
        	 //var data = [12, 49, 3, 5, 2, 3];
        	 var bacSiArr = [[${bacSiArr}]]
        	 var lstDoctorIncome = [[${lstDoctorIncome}]]
        	 var lstDoctorInterest = [[${lstDoctorInterest}]]
        	 var lstDoctorCountInvoice = [[${lstDoctorCountInvoice}]]
        	 var totalInvoice = [[${totalInvoice}]]
        	 var countNewCustomer = [[${countNewCustomer}]]
        	 
				$(document).ready(function(){
					const hdbnc = $('#hoaDonBenhNhanChart');
						const hoaDonBenhNhanChart = new Chart(hdbnc, {
						    
						    data: {
						        labels: ['Số hóa đơn x Số bệnh nhân mới'],
						        datasets: [{
						        	type: 'bar',
						        	label: 'Số hóa đơn',
						            data: [totalInvoice],
						            backgroundColor: '#91fffa',
						            borderColor: '#91fffa',
						            borderWidth: 1
						        },
						        {
						        	type: 'bar',
						        	label: 'Số bệnh nhân mới',
						            data: [countNewCustomer],
						            backgroundColor: '#0e80f3',
						            borderColor: '#0e80f3',
						            borderWidth: 1
						        }
						        ]
						    },
						    options: {
						        scales: {
						            y: {
						                beginAtZero: true
						            }
						        }
						    }
						});
					const ctx = $('#doanhThuChart');
						const doanhThuChart = new Chart(ctx, {
						    type: 'bar',
						    data: {
						        labels: bacSiArr,
						        datasets: [{
						        	label: 'Doanh thu',
						            data: lstDoctorIncome,
						            backgroundColor: '#91fffa',
						            borderColor: '#91fffa',
						            borderWidth: 1
						        }]
						    },
						    options: {
						        scales: {
						            y: {
						                beginAtZero: true
						            }
						        }
						    }
						});
						
					const tlc = $('#tienLaiChart');
					const tienLaiChart = new Chart(tlc, {
						    type: 'bar',
						    data: {
						        labels: bacSiArr,
						        datasets: [{
						        	label: 'Tiền lãi',
						            data: lstDoctorInterest,
						            backgroundColor: '#067aed',
						            borderColor: '#067aed',
						            borderWidth: 3
						        }]
						    },
						    options: {
						        scales: {
						            y: {
						                beginAtZero: true
						            }
						        }
						    }
						});
						
						const dttl = $('#doanhThuTienLaiChart');
						const doanhThuTienLaiChart = new Chart(dttl, {
						    
						    data: {
						        labels: bacSiArr,
						        datasets: [{
						        	type: 'bar',
						        	label: 'Doanh thu',
						            data: lstDoctorIncome,
						            backgroundColor: '#91fffa',
						            borderColor: '#91fffa',
						            borderWidth: 1
						        },
						        {
						        	type: 'bar',
						        	label: 'Tiền lãi',
						            data: lstDoctorInterest,
						            backgroundColor: '#067aed',
						            borderColor: '#067aed',
						            borderWidth: 3
						        }
						        ]
						    },
						    options: {
						        scales: {
						            y: {
						                beginAtZero: true
						            }
						        }
						    }
						});
				});
			</script>
        
            
           
        </div>

    </section>
    <div class="text-right">
        <div class="credits">
            <!--
    All the links in the footer should remain intact.
    You can delete the links only if you purchased the pro version.
    Licensing information: https://bootstrapmade.com/license/
    Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
  -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
<!--main content end-->

</body>
</html>
