<!--sidebar start-->
<aside th:fragment="navbar">
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" th:href="@{/home}">
                    <i class="icon_house_alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
             <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>Chức năng</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a th:href="@{/medical-examination}">Phiếu khám bệnh</a></li>
                    <li th:if="${currentUser.role == 3 || currentUser.role == 2}"><a th:href="@{/medical-examination?status=0}">Danh sách chưa khám</a></li>
                    <li th:if="${currentUser.role == 3 || currentUser.role == 2}"><a th:href="@{/medical-examination?status=1}">Danh sách đang khám</a></li>
                    <li th:if="${currentUser.role == 3}"><a th:href="@{/get-medical-fee}">Thu tiền khám</a></li>
                    <li th:if="${currentUser.role == 3}"><a th:href="@{/invoice}">Danh sách hóa đơn</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_desktop"></i>
                    <span>Danh mục</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" th:href="@{/customer-list}">DS bệnh nhân</a></li>
                    <li th:if="${currentUser.role == 1}"><a class="" th:href="@{/test-type-list}">DS loại xét nghiệm</a></li>
                    <li th:if="${currentUser.role == 1}"><a class="" th:href="@{/test-list}">DS xét nghiệm</a></li>
                </ul>
            </li>
            <!--<li>
                <a class="" href="widgets.html">
                    <i class="icon_genius"></i>
                    <span>Widgets</span>
                </a>
            </li>
            <li>
                <a class="" href="chart-chartjs.html">
                    <i class="icon_piechart"></i>
                    <span>Charts</span>

                </a>

            </li> -->

            <li th:if="${currentUser.role == 1}" class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_table"></i>
                    <span>Báo cáo</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" tH:href="@{/list-invoice}">Doanh thu phòng khám</a></li>
                </ul>
            </li>

            <!-- <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_documents_alt"></i>
                    <span>Pages</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="profile.html">Profile</a></li>
                    <li><a class="" href="login.html"><span>Login Page</span></a></li>
                    <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
                    <li><a class="" href="blank.html">Blank Page</a></li>
                    <li><a class="" href="404.html">404 Error</a></li>
                </ul>
            </li> -->

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->