<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<head> 
<style>
	.test-type-item {
	    border: 1px solid;
	}
	
	.invoice-title{
		font-weight: bold;
		font-size: 24px
	}
	
	.invoice-lable{
		font-weight: bold;
		font-size: 18px
	}
</style>
</head>

<body>
    <div layout:fragment="content">
    	<div class="wrapper" th:if="${currentUser.role == 1}">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i>Phiếu khám bệnh</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/home}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Hóa đơn</li>
                        <li><i class="fa fa-laptop"></i>Chi tiết hóa đơn</li>
                    </ol>
                </div>
            </div>
			
            <div id="invoice" class="container" style="border: 3px solid; border-radius: 5px;">
            	<div class="text-center">
            		<div class="invoice-title">
            			HÓA ĐƠN CHI PHÍ
            		</div>
            	</div>
            	<div class="row">
                    <div class="col-md-3 text-right">Họ tên</div>
                    <div class="col-md-3">[[${invoice.clinicWorking.customer.fullname}]]</div>
                    <div class="col-md-3 text-right">Ngày sinh</div>
                    <div class="col-md-3">[[${#dates.format(invoice.clinicWorking.customer.dob, 'dd-MM-yyyy')}]]</div>
                    <div class="col-md-3 text-right">Giới tính</div>
                    <div th:if="${invoice.clinicWorking.customer.gender == 1}" class="col-md-3">Nam</div>
                    <div th:if="${invoice.clinicWorking.customer.gender == 0}" class="col-md-3">Nữ</div>
                    <div th:if="${invoice.clinicWorking.customer.gender == -1}" class="col-md-3">Khác</div>
                    <div class="col-md-3 text-right">SĐT</div>
                    <div class="col-md-3">[[${invoice.clinicWorking.customer.phone}]]</div>
                    <div class="col-md-3 text-right">Địa chỉ</div>
                    <div class="col-md-9">[[${invoice.clinicWorking.customer.address}]]</div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 20px; padding-left: 50px; padding-right: 50px;">
                    <div class="container export-test-area" style="background-color: #91fffa;">
                        <div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item invoice-lable">Tên hàng hóa</div>
						    <div class="col-md-3 test-type-item invoice-lable">Số lần</div>
						    <div class="col-md-3 test-type-item invoice-lable">Đơn giá</div>
						    <div class="col-md-3 test-type-item invoice-lable">Thành tiền</div>
						</div>
						<div class="row test-result-item text-center" th:each="item, state : ${lstTestComplete}">
						    <div class="col-md-3 test-type-item">Xét nghiệm [[${item.testName}]]</div>
						    <div class="col-md-3 test-type-item">1</div>
						    <div th:if="${item.costPrice}" class="col-md-3 test-type-item">[[${#numbers.formatDecimal(item.SellPrice, 0, 'COMMA', 0, 'POINT')} + 'Đ']]</div>
						    <div th:unless="${item.costPrice}" class="col-md-3 test-type-item">0Đ</div>
						    <div th:if="${item.SellPrice}" class="col-md-3 test-type-item">[[${#numbers.formatDecimal(item.SellPrice, 0, 'COMMA', 0, 'POINT')} + 'Đ']]</div>
						    <div th:unless="${item.SellPrice}" class="col-md-3 test-type-item">0Đ</div>
						</div>
						<div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						</div>
						<div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item">Tiềm khám</div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item">200,000Đ</div>
						</div>
						<div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						</div>
						<div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item">Thuốc đặc biệt</div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item">0Đ</div>
						</div>
						<div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						    <div class="col-md-3 test-type-item">&nbsp;</div>
						</div>
						<div class="row test-result-item text-center">
						    <div class="col-md-3 test-type-item">Tổng tiền</div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item"></div>
						    <div class="col-md-3 test-type-item">[[${#numbers.formatDecimal(invoice.totalSellPrice, 0, 'COMMA', 0, 'POINT')} + 'Đ']]</div>
						</div>
						
                    </div>
                    
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 20px; padding-left: 50px; padding-right: 50px;">
                	<div class="col-md-6 text-right">
                		<h2>Kết quả chuẩn đoán:</h2>
                	</div>
                	<div class="col-md-6 text-left">
                		<h2>[[${invoice.diagnosticResult}]]</h2>
                	</div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 20px; padding-left: 50px; padding-right: 50px;">
                	<div class="col-md-6 text-right">
                		<h2>Kết quả xét nghiệm:</h2>
                	</div>
                	<div class="col-md-6 text-left">
                		<h2>[[${invoice.testResult}]]</h2>
                	</div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 20px; padding-left: 50px; padding-right: 50px;">
                	<div class="col-md-6 text-right">
                		<h2>Hẹn tái khám:</h2>
                	</div>
                	<div class="col-md-6 text-left">
                		<h2>[[${#dates.format(invoice.timeReturn, 'dd-MM-yyyy')}]]</h2>
                	</div>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 20px;">
				<div class="col-md-12">
					<a th:href="@{/list-invoice}"><button style="font-size: 18px;" class="btn btn-danger" type="submit">Trở về</button></a>
					<!--<button id="exportInvoice" style="font-size: 18px;" class="btn btn-primary" type="submit">Xuất hóa đơn</button>-->
				</div>
			</div>
        </div>
        <div class="wrapper" th:unless="${currentUser.role == 1}">
			<h1 style="color: red;">Bạn không có quyền truy cập màn hình này</h1>
		</div>
    </div>

</body>

</html>
<style>

</style>
<script>
$("#exportInvoice").click(function () {
        html2canvas($('#invoice')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500,
                    }]
                };
                pdfMake.createPdf(docDefinition).download("invoice.pdf");
            }
        });
    })
</script>