<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<head> </head>

<body>
    <div layout:fragment="content">
    	<div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i>Danh mục</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/home}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Danh sách Bệnh nhân hẹn khám</li>
                    </ol>
                </div>
            </div>
            
            <div class="row">
                <form class="form-group col-md-12" th:action="@{/customer-returning-list}" th:object="${findParams}" method="GET">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Bác sĩ</label>
                            <select class="selectpicker form-control" th:field="*{accountId}" id="accountId"  name="accountId" data-live-search="true">
                            	<option style="font-size: 16px;" value="" selected>-- Chọn bác sĩ --</option>
                                <option style="font-size: 16px;" th:each="item : ${lstDoctor}" th:value="${item.id}" th:text="${item.fullname}"></option>
                              </select>
                        </div>
                        <div class="col-md-3">
                            <label>Bệnh nhân</label>
                            <select class="selectpicker form-control" th:field="*{customerId}" id="customerId"  name="customerId" data-live-search="true">
                            	<option style="font-size: 16px;" value="" selected>-- Chọn bệnh nhân --</option>
                                <option style="font-size: 16px;" th:each="item : ${lstCustomer}" th:value="${item.id}" th:text="@{${item.fullname} + ' - ' + ${item.phone}}"></option>
                              </select>
                        </div>
                        <div class="col-md-3">
                            <label>Trạng thái</label>
                            <select class="form-control dropdown-toggle" th:field="*{isCalled}" id="status"  name="status">
                                <option style="font-size: 16px;" value="" selected>-- Chọn trạng thái --</option>
                                <option style="font-size: 16px;" value=0>Chưa liên hệ</option>
                                <option style="font-size: 16px;" value=1>Đã liên hệ</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Khoảng thời gian</label>
                            <select class="form-control dropdown-toggle" th:field="*{findCustomerReturning}" id="findCustomerReturning"  name="findCustomerReturning">
                            	<option style="font-size: 16px;" value=true>Trong 3 ngày tới</option>
                                <option style="font-size: 16px;" value=false>Tất cả</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <br>
                            <button style="font-size: 16px;" type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
            
			<div th:if="${findCustomerReturning}"><p style="color: red;">Có: [[${totalElements}]] bệnh nhân sắp đến lịch hẹn khám (Trong 3 ngày tới)</p></div>
            <div class="row" style="margin-top: 20px;">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã hồ sơ</th>
                        <th scope="col">Bệnh nhân</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Bác sĩ khám</th>
                        <th scope="col">Ngày khám</th>
                        <th scope="col">Ngày hẹn tái khám</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item, state : ${lstTestResult}">
                        <th scope="row" th:text="${state.index+1}"></th>
                        <td th:text="${item.code}"></td>
                        <td th:text="${item.clinicWorking.customer.fullname}"></td>
                        <td th:text="${item.clinicWorking.customer.phone}"></td>
                        <td th:text="${item.clinicWorking.account.fullname}"></td>
                        <td th:text="${#dates.format(item.createdDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(item.timeReturn, 'dd-MM-yyyy')}"></td>
                        <td th:if="${item.isCalled==0}">Chưa liên hệ</td>
                        <td th:if="${item.isCalled==1}">Đã liên hệ</td>
                        <td style="color: #fff;">
                        	<a style="font-size: 16px;" th:href="@{'/customer-returning-detail/' + ${item.id}}" class="btn btn-success">Chi tiết</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <th:block class="text-center" th:if="${totalElements > 0}">
                    <nav aria-label="Page navigation" style="text-align: center; width: 100%;">
                    <ul class="pagination justify-content-end">
                            <li class="page-item" th:classappend="${pageIndex} <= 0 ? 'disabled' : ''">
                            	<a class="page-link" th:href="@{'/customer-returning-list?page='+ ${pageIndex-1}}"><</a>
                            </li>

                            <li  th:classappend="${pageIndex} != ${index-1} ? 'page-item' :'page-item active' "
                                th:each="index : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:href="@{'/customer-returning-list?page='+ ${index-1}}" th:text="${index}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${pageIndex} >= ${totalPages} - 1 ? 'disabled' : ''">
                            <a class="page-link" th:href="@{'/customer-returning-list?page='+ ${pageIndex+1}}">></a>
                            </li>
                        </ul>
                    </nav>
                  </th:block>
            </div>
        </div>
    </div>
</body>

</html>