<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<head> </head>

<body>
    <div layout:fragment="content">
    	<div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i>Phiếu khám bệnh</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/home}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Phiếu khám bệnh</li>
                        <li><i class="fa fa-laptop"></i>Tạo phiếu khám</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                
                    <div class="col-md-12">
                    	<form th:action="@{/medical-examination-add}" th:object="${findParams}" method="GET">
                        <div class="col-md-3">
                            <label>Bệnh nhân</label>
                            <select class="selectpicker form-control dropdown-toggle" data-live-search="true" th:field="*{id}">
                                <option style="font-size:16px;" value="" selected>-- Chọn bệnh nhân --</option>
                                <option style="font-size:16px;" th:each="item : ${lstCustomer}" th:value="${item.id}" th:text="@{ ${item.fullname} + ' - ' + ${item.phone}}"></option>
                              </select>
                        </div>
                        <div class="col-md-2">
                            <br>
                            <button style="font-size:16px;" type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                        </form>
                    </div>
                
            </div>            

            <div class="row" style="margin-top: 20px;">
                <form class="col-md-12" id="addform" action="#" th:action="@{/medical-examination-add}" th:object="${medicalExaminationRequest}" method="POST">
                	<div class="row">
                		<div class="col-md-3" style="display: none">
	                        <div class="form-group" >
	                            <label >id<i style="color: red;">*</i></label>
	                            <input style="font-size: 16px" type="text" class="form-control" th:field="*{customerId}" id="customerId"  name="customerId">
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <div class="form-group" >
	                            <label >Họ và tên<i style="color: red;">*</i></label>
	                            <input style="font-size: 16px" type="text" class="form-control" th:field="*{fullname}" id="fullname"  name="fullname">
	                            <span style="color: red;" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></span>
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <div class="form-group" >
	                            <label >Số điện thoại<i style="color: red;">*</i></label>
	                            <input style="font-size: 16px" type="text" class="form-control" th:field="*{phone}" id="phone"  name="phone">
	                            <span style="color: red;" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <div class="form-group" >
	                            <label >Ngày sinh<i style="color: red;">*</i></label>
	                            <input style="font-size: 16px" type="date" class="form-control" th:field="*{dob}" id="dob"  name="dob">
	                            <span style="color: red;" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
	                            <span style="color: red;" th:if="${#fields.hasErrors('dobGreater')}" th:errors="*{dobGreater}"></span>
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <div class="form-group" >
	                            <label >Email<i style="color: red;">*</i></label>
	                            <input style="font-size: 16px" type="text" class="form-control" th:field="*{email}" id="email"  name="email">
	                            <span style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	                        </div>
	                    </div>
                	</div>
                    
                    <div class="row">
                    	<div class="col-md-3">
	                        <div class="form-group" >
	                            <label >Quốc tịch<i style="color: red;">*</i></label>
	                            <input style="font-size: 16px" type="text" class="form-control" th:field="*{country}" id="country"  name="country">
	                            <span style="color: red;" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <div class="form-group" >
	                            <label >Địa chỉ<i style="color: red;">*</i></label>
	                            <input style="font-size: 16px" type="text" class="form-control" th:field="*{address}" id="address"  name="address">
	                            <span style="color: red;" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <div class="form-group" >
	                            <label >Nghề nghiệp<i style="color: red;">*</i></label>
	                            <input style="font-size: 16px" type="text" class="form-control" th:field="*{job}" id="job"  name="job">
	                            <span style="color: red;" th:if="${#fields.hasErrors('job')}" th:errors="*{job}"></span>
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <div class="form-group" >
	                            <label >Giới tính<i style="color: red;">*</i></label>
	                            <select class="form-control dropdown-toggle" th:field="*{gender}" id="gender"  name="gender">
	                                <option style="font-size: 16px" value="" selected>-- Chọn giới tính --</option>
	                                <option style="font-size: 16px" value=1>Nam</option>
	                                <option style="font-size: 16px" value=0>Nữ</option>
	                                <option style="font-size: 16px" value=-1>Khác</option>
	                            </select>
	                            <span style="color: red;" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
	                        </div>
	                    </div>
                    </div>
                    
                    <div class="row">
                    	<div class="col-md-9">
	                        <div class="" >
	                            <label>Ghi chú</label>
	                            <textarea style="font-size: 16px" class="form-control" th:field="*{desc}" id="desc" name="desc"></textarea>
								<span style="color: red;" th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></span>
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <label>Bác sĩ khám<i style="color: red;">*</i></label>
	                        <select class="selectpicker form-control dropdown-toggle" th:field="*{accountId}" id="accountId"  name="accountId" data-live-search="true">
	                        	<option style="font-size: 16px;" value="" selected>-- Chọn bác sĩ --</option>
	                            <option style="font-size: 16px;" th:each="item : ${lstDoctor}" th:value="${item.id}" th:text="${item.fullname}"></option>
	                          </select>
	                          <span style="color: red;" th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}"></span>
	                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                        	<button style="margin-top: 20px; font-size:16px;" class="btn btn-primary" type="submit">Tạo phiếu khám</button>
                        	<a th:href="@{/medical-examination}"><button style="margin-top: 20px; font-size:16px;" class="btn btn-danger" type="button">Trở về</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
	
</script>
</html>